//  ziva/index.scss

#sendBtn {
  font-size: 2.2rem;
  width: 60px;
  height: 60px;
  border: 0;
}

#cutBtn,
#trashBtn {
  font-size: 2.2rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#micBtn,
#spkBtn {
  font-size: 2.2rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#micBtn.active {
  background: #dc3545;
}

#spkBtn.active {
  background: #ffc107;
}

#sendBtn {
  background-color: white;
}
