//  ziva/index.scss

html,
body {
  touch-action: manipulation;
}

button.active {
  box-shadow: 0 0 0 6px rgba(0, 123, 255, 0.25);
  transform: scale(0.85);
}

#sendBtn {
  font-size: 2.2rem;
  width: 60px;
  height: 60px;
  border: 0;
  background-color: white;
}

#sendBtn:focus-visible,
#textInput:focus-visible,
#chat:focus-visible,
#sendBtn:focus,
#textInput:focus,
#chat:focus {
  outline: none !important;
  box-shadow: none !important;
}

#cutBtn,
#trashBtn {
  font-size: 2.2rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
}

#micBtn,
#spkBtn {
  font-size: 2.2rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px;
}

#micBtn.active {
  background: #dc3545;
}

#spkBtn.active {
  background: #ffc107;
}

#micBtn,
#spkBtn,
#cutBtn,
#trashBtn {
  transition: none;
}

#micBtn:hover,
#spkBtn:hover {
  filter: none;
  opacity: 1;
  box-shadow: none;
}

#micBtn:hover, #spkBtn:hover, #cutBtn:hover, #trashBtn:hover {
  filter: none;
  opacity: 1;
  box-shadow: none;
}

#menuBtn {
  border: 0 !important;
}

//@media (max-width: 576px) {
#sideMenu {
  width: 260px;
  background-color: #444;
}
//}

#sideMenu:hover {
  cursor: pointer;
}

.locked {
  pointer-events: none;
  user-select: none;
}

.modal {
  pointer-events: auto !important;
}

//#sideMenu {
//width: 280px; /* largeur fixe */
//max-width: 80%; /* sécurité sur petits écrans */
//--bs-offcanvas-transition: transform 0.35s ease-in-out;
//}

// à supprimer ???
.offcanvas-start {
  //transform: translateX(-100%);
  //transition: transform 0.35s ease-in-out;
}

.offcanvas-start.show {
  //transform: translateX(0);
}
// FIN à supprimer ???*/
